<!DOCTYPE html>
<html>
<head>
  <title>Curso</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css"
</head>

<body>
  <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Curso App</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/users/singin">Login</a></li>
        <li><a href="/users/singup">Sign Up</a></li>
      </ul>
      <form class="navbar-form navbar-left" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
          <button type="submit" class="btn btn-default">Submit</button>
      </form>   
  </nav>
        
    

    {{{body}}}
      

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>