<main class="container p-5">
  <div class="jumbotron">
        <h1 class="display-4">Cursos Online 2021 </h1>
        <p class="lead">Curso basicos online</p>
        <hr class="my-4">
        <p>Mas informacion para diversos tipos de cursos disponibles</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Mas Informacion</a>
        </p>
  </div>
</main>

<main class="container p-5">
<img src="/img/cursos-online.jpg" width="100%" alt="">
</main>
<br>
<main class="container p-5">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat rhoncus mi, vitae bibendum ipsum gravida at. Donec sollicitudin, sem quis pellentesque dapibus, magna sem consequat mauris, a egestas augue purus eu libero. Vestibulum tempor feugiat enim et consequat. Nunc eu feugiat urna. Vivamus accumsan sed mi sit amet porttitor. Sed facilisis pretium orci, quis rutrum urna fermentum vitae. Etiam rutrum purus lectus, ut ultricies metus suscipit in. Etiam porta, odio et bibendum vehicula, dolor libero maximus nibh, vitae tempor metus tortor sit amet mauris. Maecenas magna eros, sodales nec augue at, bibendum porttitor justo. Quisque nec nulla vel leo feugiat condimentum. Praesent neque velit, pulvinar at mi non, fringilla aliquam purus. Integer porta id tortor vitae tempus. Integer sollicitudin elit at ullamcorper porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce et maximus felis, sed porta mi.</p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/pjOfEX0tt2c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</main>
<br>
<main class="container p-5">
  <a class="btn btn-primary btn-lg" href="/notes/add" role="button">Cursos</a> 
</main>



